.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0.5rem;
    background-color:#070A52;
  }
  
  .image {
    height: 100%;
    width: 10%;
  }
  
  .About {
    display: flex;
    align-items: center;
  }
  
  .About > * + * {
    margin-left: 1rem;
  }
  
  .no-underline {
    text-decoration: none;
    color: #F0F0F0;
    font-weight: 700; 
  }
  